# generic ignores
.DS_Store

# usercase ignores
usecase/uc1-2/src/*.o
usecase/uc1-2/docker/datagenerator
usecase/uc1-2/docker/workerapp
# ? log files?
usecase/uc1-2/src/DataDistributor
usecase/uc1-2/src/DataGenerator
usecase/uc1-2/src/WorkerApp
