*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

.DS_Store
*.bib.sav
*.bib.bak
*.nav
*.snm
test-monitor/-*
prj/build/
usercase/uc1-2/src/*.o
usercase/uc1-2/docker/datagenerator
usercase/uc1-2/docker/workerapp
usercase/uc1-2/src/DataDistributor
usercase/uc1-2/src/DataGenerator
usercase/uc1-2/src/WorkerApp
test-monitor/container
prj/check_test
